.character-container {
    display: flex;
    flex-direction: column;
    padding: 24px;

    .character-title{
        width: 100%
    }

    .character-content {
        display: flex;

        @media screen and (min-width: 320px) {
            flex-direction: row;
            flex-grow: 1;
            flex-wrap: wrap;
        }

        .character-card {
            padding: 10px;
            margin-right: 20px;
            border: 2px solid #cccc;

            @media screen and (min-width: 320px) {
                width: 102px;
                margin-right: 10px;
                margin-bottom: 10px;
            }

            @media screen and (min-width: 768px) {
                width: 200px;
                margin-right: 10px;
            }

            &:last-child {
                margin-right: 0px;
            }

            div {
                span {
                    font-weight: 700; 
                    span {
                       font-size: 13px;
                       font-weight: 500; 
                    }
                }
            }
        }
    }
}